@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
  box-sizing: border-box;
}
button{
  border: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.alignCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  background-color: #C3CFD9;
  color: #E8833A;
  font: normal 400 30px 'Roboto', sans-serif;
  width: 100vw;
  height: 7.63vh;
  position: fixed;
  top: 0;
  left: 0;
}
.home{
  flex-direction: column;
}
.home > h1{
  font: normal 400 24px 'Roboto', sans-serif;
  color: #293845;
  letter-spacing: 0.04em;
  margin: 40px 0;
  margin-top: 62px
}
.films{
  flex-wrap: wrap;
  gap: 11px 30px;
}
.film{
  width: 145px;
  height: 209px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 3px;
}
.films img{
  width: 129px;
  height: 193px;
}
.selectTime{
  flex-direction: column;
  width: 100vw;
  overflow-y: auto;
  margin-top: 7.63vh;
}
.adjustment{
  width: 100vw;
  flex-wrap: wrap;
  margin-bottom: 17.1vh;
  padding: 0 24px;
  gap: 23px;
}
.selectTime h1{
  /* margin-top: 31.56vh; */
  margin: 4.56vh 0;
}
.time h2{
  margin-bottom: 22px
}
.schedules{
  justify-content: flex-start;
  gap: 8px;
}
.buttonTime{
  background-color: #E8833A;
  color: #FFFFFF;
  font: normal 400 18px 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  width: 83px;
  height: 43px;
  border-radius: 3px;
}
footer{
  background-color: #DFE6ED;
  height: 18.34vh;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 14px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer .film{
  width: 7.0600000000000005vw;
  height: 15.14vh;
}
footer img{
  width: 6vw;
  height: 13vh
}
footer h2{
  font: normal 400 26px 'Roboto', sans-serif;
  color: #293845;
}
.mainScreen{
  width: 100vw;
  /* height: 79.03vh; */
  margin-top: 7.63vh;
  overflow-y: auto;
  margin-bottom: 17.1vh;
}
.selectSeat{
  flex-direction: column;
  padding: 0 2.4vw;
}
.selectSeat h2{
  margin: 4.56vh 0;
  font: normal 400 24px 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  color: #293845;
}
.seats{
  flex-wrap: wrap;
  gap: 2.05vh 0.9vw;
}
.seat{
  background-color: #C3CFD9;
  width: 26px;
  height: 26px;
  font: normal 400 11px 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  letter-spacing: 0.04em;
  border: 1px solid #808F9D;
  border-radius: 12px;
}
p{
  font: normal 400 13px 'Roboto', sans-serif;
  letter-spacing: -0.013em;
  color: #4E5A65;
  line-height: 15px;
}
.seat.green{
  background-color: #8DD7CF;
  border: 1px solid #1AAE9E;
}
.seat.yellow{
  background-color: #FBE192;
  border: 1px solid #F7C52B;
}
.subtitle{
  width: 100vw;
  justify-content: space-evenly;
  margin-top:1.82vh;
  margin-bottom: 4.67vh;
}
.subtitle div{
  flex-direction: column;
}
.data{
  padding: 0 6.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 23.34vh;
  gap: 7px;
}
h3{
  font: normal 400 18px 'Roboto', sans-serif;
  color: #293845;
}
input{
  width: 59.2vw;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
  border-radius: 3px;
}
input::placeholder{
  font: italic 400 18px 'Roboto', sans-serif;
  color: #AFAFAF;
  padding: 0 18px;
}
.buttonReserve{
  background-color: #E8833A;
  width: 35vw;
  height: 7.78vh;
  margin-top: 4.49vh;
  font: normal 400 18px 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.sucessScreen{
  width: 100vw;
  flex-direction: column;
}
.sucessScreen h1{
  margin: 40px 0;
  color: #247A6B;
  font: normal 700 24px 'Roboto', sans-serif;
  letter-spacing: 0.04em;
}
.dataBase > div{
  margin-bottom: 20px;
}
h5{
  font: normal 700 24px 'Roboto', sans-serif;
  color: #293845;
  letter-spacing: 0.04em;
}
h6{
  font: normal 400 22px 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  color: #293845;
}
@media (max-width:420px){
  .adjustment{
    flex-direction: column;
  }
  .time{
    width: 100%;
  }
  footer{
    height: 13.34vh; 
  }
  footer .film{
    width: 17.06vw;
    height: 10.14vh;
  }
  footer img {
    width: 10.7vw;
    height: 9vh;
}
  .seats{
    gap: 2.05vh 1.86vw;
  }
  .selectSeat{
    padding: 0 6.4vw;
  }
  input{
    width: 83.2vw;
    height: 41px;
  }
  .buttonReserve{
    width: 60vw;
    height: 4.78vh;
  }
  .data{
    align-items: inherit ;
  }
}